.admindashboard
{
    margin-top: 2.1rem;
    min-height: 81vh;
}

.admindashboard .container {
    background: white;
    /* padding: 1rem; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


@media (max-width: 576px) {
    .admindashboard table th,
    .admindashboard table td {
      font-size: 14px;
    }
  }
  